$main_border: black;
$button_success: green;
$button_warning: orange;
$button_error: red;
$button_default_font: black;
$button_font: white;

body {
  margin: 0px;
}

.main {
  margin: 10px;
  padding: 10px;
  border: 1px solid $main_border;
  &__title {
    margin: 5px;
    text-align: center;
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: center;
  &--horizontal {
    flex-direction: row;
  }
}

.button {
  width: 200px;
  margin: auto;
  color: $button_default_font;
  &--success {
    color: $button_font;
    background: $button_success;
  }
  &--warning {
    color: $button_font;
    background: $button_warning;
  }
  &--error {
    color: $button_font;
    background: $button_error;
  }
  &--big {
    font-size: 32px;
    padding: 10px;
  }
}