body {
  margin: 0px;
}

.main {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  &__title {
    margin: 5px;
    text-align: center;
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: center;
  &--horizontal {
    flex-direction: row;
  }
}

.button {
  width: 200px;
  margin: auto;
  color: black;
  &--success {
    color: white;
    background: green;
  }
  &--warning {
    color: white;
    background: orange;
  }
  &--error {
    color: white;
    background: red;
  }
  &--success {
    color: white;
    background: green;
  }
}